<div class="nested-fields ml-2 d-flex">
  <div class="field ml-1 mt-2">
    <td style="width: 12%" class="py-1"><%= f.text_field :name, placeholder: "例）にんじん" %></td>
  </div>
  <div class="field ml-4 mt-2">
    <td style="width: 10%" class="py-1"><%= f.text_field :amount, placeholder: "例）一本" %></td>
  </div>
  <div class="ml-2 pl-1 pt-2">
    <td class="p-0 align-middle"><%= link_to_remove_association "削除", f  %></td>
  </div>
</div>
