<div class="nested-fields">
  <tr>
    <div class="field mr-5 mt-2">
      <td style='width: 70%' class="px-0"><%= f.text_area :body, placeholder:"つくり方を記入", size:'80 x 3', class:'p-2' %> </td>
      <%= f.hidden_field :step_num, :value => step_num %>
    </div>
    <div class="text-right mr-4">
      <td class="p-0 align-bottom"><%= link_to_remove_association "削除", f  %></td>
    </div>
  </tr>
</div>
