<h4><%= @name %> 様</h4>

<p class='mt-3'>
  平素より大変お世話になっております。VegeCook事務局です。
</p>
<p class='mt-2'>
  フォームよりお問い合わせを受け付けました。<br />
  ２営業日以内に、担当よりあらためてメールにてご回答を差し上げます。恐れ入りますが、回答まで今しばらくお待ちください。
</p>
<p class='mt-2'>
  なお、本メールは自動配信のため、メール返信は受理できかねますので、ご注意ください。<br />
</p>
<p class='mt-2'>
  以上どうぞよろしくお願い申し上げます。
</p>

<p class='mt-3'>
  VegeCook事務局<br />
  <u><%= link_to 'https://vege-cook.net/', 'https://vege-cook.net/' %></u>
</p>
