// Place all the styles related to the public/chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chat-area {
  width: 60%;
  margin-bottom: 20px;
}

.chat-bubble {
  display: inline-block;
  width: 40%;
  padding: 15px 20px;
  margin-top: 2px;
  border-radius: 10px;
  position: relative;
  background-color: #bcf5a9;
  &:after{
    content: "";
    position: absolute;
    top: 50%;
    right: -20px;
    margin-top: -10px;
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: transparent transparent transparent #bcf5a9;
  }
}

.receiver-chat-bubble {
  background-color: #f5f5f5;
  &:after {
    left: -19px;
    border-color: transparent #f5f5f5 transparent transparent;
  }
}

