// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$baige: #ede0cb;
$cherry-blossom: #eabeaf;
$light-pink: #f5d4d3;

//TOPページ
.top-icons:hover {
  text-decoration: none;
  color: $baige;
}

.top-menu-font {
 font-family: 'Annie Use Your Telescope', cursive;
 font-size: 30px;
 font-weight: bold;
}

//slickのスタイル
.slider-heading-img {
  height: 550px !important;
  object-fit: cover;
  object-position: 40% 100%;
}

.slider-latest-img {
  border-radius: 50%;
}

.slick-slide img {
  width: 100%;  /* widht100%を指定することにより、画像間の無駄な余白が消える */
}

.slick-slide {
  margin: 0 20px 0;
}

.slick-slide:not(.slick-center) {
  opacity: 0.5;
}

//PREMIUMプラン案内ページ
#about-heading {
  width: 100%;
  margin: 20px 0;
  background-image: linear-gradient(45deg, $cherry-blossom 0%, $light-pink 80%);
}

#premium-card-position {
  margin-top: 90px;
}

.cards {
  margin: 0 auto;
  height: 270px;
}

//ABOUTページ
.about-bg-style {
  background-size: cover;
  background-position: center;
  width: 100%;
}

#about-bg-img1 {
  height: 48vw;
  background-image: image-url("about-bg-1.jpg");
}

#about-bg-img2 {
  height: 50vw;
  width: 50%;
  margin: 0 auto;
  background-image: image-url("about-bg-2.png");
  background-size: cover;
  background-position: center;
}

#about-bg-img3 {
  height: 70vw;
  background-image: image-url("about-bg-3.png");
}

#about-bg-img4 {
  height: 70vw;
  background-image: image-url("about-bg-4.png");
}

#about-bg-img5 {
  height: 70vw;
  background-image: image-url("about-bg-5.png");
  background-sdosition: center;
}

#about-bg-img6 {
  height: 70vw;
  background-image: image-url("about-bg-6.png");
}
