<div class="container-fluid">

  <div id="about-heading">
    <div class="row">
      <h2 class="mx-auto mt-3 pt-32align-middle text-white en-font-pop">PREMIUM PLAN</h2>
    </div>
    <div class="row">
      <h6 class="mx-auto mt-2 pb-3 text-white jp-font-pop">- プレミアム・プランのご案内 -</h6>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-2 card shadow pt-2 pb-5 px-3 cards">
      <h5 class="font-italic text-center mt-3 font-color-green">ONE</h5>
      <h5 class="text-center jp-font-pop mt-4">無制限のレシピ保存</h5>
      <p class="text-center jp-font-pop  mt-4">プレミアム・プランなら、レシピ保存が無制限！</p>
    </div>

    <div class="col-2 card shadow pt-2 pb-5 px-3 ml-4 my-5 cards">
      <h5 class="font-italic text-center mt-3 font-color-pink">TWO</h5>
      <h5 class="text-center jp-font-pop  mt-4">人気順表示</h5>
      <p class="text-center jp-font-pop mt-4">検索結果をランキング表示したり、総合TOP20のレシピを閲覧できます！</p>
    </div>

    <div class="col-2 card shadow pt-2 pb-5 px-3 ml-4 cards" id="premium-card-position">
      <h5 class="font-italic text-center mt-3 text-warning">THREE</h5>
      <h5 class="text-center jp-font-pop mt-4">無制限のフォロー</h5>
      <p class="text-center jp-font-pop mt-4">プレミアム・プランなら、何人でも好きなユーザーをフォローできます！</p>
    </div>
  </div>

  <div class="row my-5">
    <div class="mx-auto d-flex">
      <i class="fas fa-hand-point-right text-warning mr-2 fa-lg"></i>
      <h6 class="font-jp-pop">330円（税込）/月</h6>
      <i class="fas fa-hand-point-left text-warning ml-2 fa-lg"></i>
    </div>
  </div>

  <div class="row mb-3">
    <%= link_to "プレミアム・プランに加入する", premiums_payment_path, class:'btn btn-sm btn-color mx-auto py-2 mb-5' %>
  </div>
</div>

