<div class="container">
  <div class="row mt-5">
    <h2 class="mx-auto border p-3 page-heading-pink">管理者メニュー</h2>
  </div>

  <div class="row mt-5 mr-md-1 mr-sm-5">
    <div class="col-md-4 offset-md-3">
      <%= link_to (image_tag 'admin_top_recipes.jpg', size:'150x150', class:'rounded-circle'), admin_post_recipes_path %>
      <h4 class="pl-3 jp-font-classic mt-3">レシピ一覧</h4>
    </div>
    <div class="col-md-4 col-sm-5">
      <%= link_to (image_tag 'admin_top_users.jpg', size:'150x150', class:'rounded-circle'), admin_users_path %>
      <h4 class="pl-4 jp-font-classic mt-3">会員一覧</h4>
    </div>
  </div>

  <div class="row my-5 mr-md-1 mr-sm-5">
    <div class="col-md-4 offset-md-3">
      <%= link_to (image_tag 'admin_top_inquiry.jpg', size:'150x150', class:'rounded-circle'), admin_form_inquiries_path %>
      <h4 class="pl-4 jp-font-classic mt-3">問い合わせ</h4>
      <h6 class="pl-4 jp-font-classic">（フォーム）</h6>
    </div>
    <div class="col-md-4">
      <%= link_to (image_tag 'admin_top_chat.jpg', size:'150x150', class:'rounded-circle'), admin_chats_path %>
      <h4 class="pl-3 jp-font-classic mt-3">問い合わせ</h4>
      <h6 class="pl-4 jp-font-classic">（チャット）</h6>
    </div>
  </div>

</div>

