<h4>パスワード再設定のご案内</h4>

<p class='mt-3'>平素より大変お世話になっております。VegeCook事務局です</p>

<p class='mt-2'>
  パスワード再設定の申請がございましたため、下記リンクより手続きをお願いいたします。<br />
  <%= link_to 'パスワード変更', edit_password_url(@resource, reset_password_token: @token), class:'font-color-green' %>
</p>

<p class='mt-2'>
  このメールに心当たりのない方は、お見捨て置きください。<br />
  パスワードは上記リンクより変更手続きをされない限り、変更されません。
</p>

<p class='mt-2'>どうぞよろしくお願いいたします。</p>

<p class='mt-3'>
  VegeCook事務局<br />
  <u><%= link_to 'https://vege-cook.net/', 'https://vege-cook.net/' %></u>
</p>
