<!---------- プレミアム・プラン登録完了画面 ------------>

<% breadcrumb :premium_complete %>

 <div style="height: 600px", class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="mx-auto">
        <h4 class="text-center en-font-pop">THANK YOU!</h4>
      </div>
    </div>

    <div class="row mt-3">
      <div class="mx-auto">
        <p class="text-center">
          プレミアム・プランへのご登録ありがとうございます。<br />
          これよりプレミアム・プランの機能をご利用頂けます。
        </p>
        <p class="text-center">今後ともVEGECOOKを、よろしくお願い致します。</p>
      </div>
    </div>

    <div class="row mt-3">
      <div class="mx-auto">
        <%= link_to "TOPへ", root_path, class:'btn btn-sm btn-color text-white font-weight-bold' %>
      </div>
    </div>
  </div>
</div>
