<h2>SIGN UP | 会員登録</h2>
<h5>スタンダード・プラン（有料）</h5>

<h4>THANK YOU!</h4>
<p>
  プレミアム・プランへのご登録ありがとうございます。<br />
  これよりプレミアム・プランの機能をご利用頂けます。
</p>
<p>今後ともVEGECOOKを、よろしくお願い致します。</p>
<%= link_to "TOPへ", root_path, class:'btn btn-sm btn-primary' %>