<%= flash[:error] %>

<div style="height: 70vh", class="d-flex align-items-center">
  <div style="width: 30%", class="login-bg mx-auto p-4">

    <div class="container">
      <div class="row mb-3">
        <u class="mx-auto">
          <h3 class="jp-font font-weight-bold">プレミアム・プランの登録</h3>
        </u>
      </div>

      <div class="row mb-3 text-center">
        <p class="mx-auto">
          プレミアム・プランでは、レシピの人気順表示など<br />
          様々な機能をご利用いただけます！<br />
          詳細は、<%= link_to "こちら", premium_path, class:'font-color'%> よりご確認ください。
        </p>
        <p class="mx-auto">
          会費として、330円/月（税込）を頂戴しております。<br />
          ご了承の上、支払い情報の入力にお進みください。
        </p>
      </div>

      <div class="row">
        <%= link_to "クレジットカード登録", premiums_path, method: :patch, class: 'btn btn-sm btn-color text-white mx-auto' %>
      </div>
      <div class="row">
        <p class="mx-auto mt-2 mb-0">（外部サイトへ）</p>
      </div>
    </div>

  </div>
</div>