
<table id="following-table" class="table table-borderless">
  <% followings.each do |following| %>
    <tr>
      <td>
        <%= attachment_image_tag following, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_profile_image.jpg", size:'80x60' %>
      </td>
      <td>
        <%= link_to following.name, user_path(following.id) %>
        <%= following.introduction %>
      </td>
      <td>
        <%= render partial: 'public/users/follow_button', locals: { user: following, page_user: page_user } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>