<span class="fas fa-user-friends mr-3"></span>
<u><%= link_to "#{user.followings.count} フォロー", follows_user_path(user.id) %></u><br />
<span class="fas fa-user-friends mr-3 mt-2"></span>
<u><%= link_to "#{user.followers.count} フォロワー", followers_user_path(user.id) %></u>