<% if obj.errors.include?(column) %>
  <ul class="error_explanation">
    <% obj.errors.full_messages_for(column).each do |message| %>
      <li class="text-danger small mt-1 ml-4"><%= message %></li>
    <% end %>
  </ul>
<% end %>
