<footer>
  <div class="container">
    <div class="row">
      <div class="mx-auto mt-3 text-center">
        <p class="mb-2">Be the Veggie, Save the Lives</p>
        <p id="copyright">Copyright © VEGECOOK All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>